<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Kronos Gaming Calendar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/calendarstyle.css') }}">
    </head>
    <body style="overflow: auto; overflow-x: hidden">
        <div class="background-image"></div>
        <div class="logo-container" style="margin-left: 25px">
            <a href="{{url_for('home')}}">
                <img src="https://thumbs2.imgbox.com/5b/3a/sZIQ12PE_t.png" alt="image host" />
            </a>
        <h1 style="color: white">Kronos</h1>
        <div class="groupcode">
            <h1> {{team_name}} Code:</h1>
            <div id="copy" class="code" style="margin-left: 8px; margin-right: 10px">
                <h1>{{team_code}}</h1>
            </div>
                <button type="button" class="copybutton" onclick="copyEvent('copy')">Copy Code</button>
            </div>
        </div>
        <div class="go-back">
            <a href="{{url_for('team_control')}}" style="margin-right: 25px; margin-top: 15px">Choose Another Team</a>
        </div>
        <div class="availability-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="schedule-table">
                        <table class="table bg-white">
                            <thead name="table-columns" style="pointer-events: none;">
                                <tr name="column-names">
                                    <th>Availability</th>
                                    <th>12 pm</th>
                                    <th>1 pm</th>
                                    <th>2 pm</th>
                                    <th>3 pm</th>
                                    <th>4 pm</th>
                                    <th>5 pm</th>
                                    <th>6 pm</th>
                                    <th>7 pm</th>
                                    <th>8 pm</th>
                                    <th>9 pm</th>
                                    <th>10 pm</th>
                                    <th>11 pm</th>
                                    <th>12 am</th>
                                    <th>1 am</th>
                                    <th>2 am</th>
                                    <th>3 am</th>
                                    <th>4 am</th>
                                    <th>5 am</th>
                                    <th>6 am</th>
                                    <th>7 am</th>
                                    <th>8 am</th>
                                    <th>9 am</th>
                                    <th>10 am</th>
                                    <th class="last">11 am</th>
                                </tr>
                            </thead>
                            <tbody name="table-rows">
                                {% set colors = ['red', 'cyan', 'green', '#c46a32', 'purple', 'yellow'] %}
                                <tr name="Sunday">
                                    <td class="day">Sunday</td>
                                    {% for hour in range(12, 24) %}
                                      <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                          {% with gamer_id=gamer_id, day_of_week=1, hour_of_day=hour %}
                                            {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                            {% if availability == True %}
                                              <div class="available" style="background-color: {{ colors[i] }};"></div>
                                            {% else %}
                                              <div class="available" style="background-color: #36393e;"></div>
                                            {% endif %}
                                          {% endwith %}
                                        {% endfor %}
                                      </td>
                                    {% endfor %}
                                    {% for hour in range(0, 12) %}
                                      <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                          {% with gamer_id=gamer_id, day_of_week=1, hour_of_day=hour %}
                                            {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                            {% if availability == True %}
                                              <div class="available" style="background-color: {{ colors[i] }};"></div>
                                            {% else %}
                                              <div class="available" style="background-color: #36393e;"></div>
                                            {% endif %}
                                          {% endwith %}
                                        {% endfor %}
                                      </td>
                                    {% endfor %}
                                </tr> 
                                <tr name="Monday">
                                    <td class="day">Monday</td>
                                    {% for hour in range(12, 24) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=2, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability == True %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: #36393e;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </td>
                                    {% endfor %}
                                    {% for hour in range(0, 12) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=2, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability == True %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: #36393e;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr name="Tuesday">
                                    <td class="day">Tuesday</td>
                                    {% for hour in range(12, 24) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=3, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability == True %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: #36393e;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                    {% for hour in range(0, 12) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=3, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability == True %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: #36393e;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr name="Wednesday">
                                    <td class="day">Wednesday</td>
                                    {% for hour in range(12, 24) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=4, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability == True %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: #36393e;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                    {% for hour in range(0, 12) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=4, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability == True %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: #36393e;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr name="Thursday">
                                    <td class="day">Thursday</td>
                                    {% for hour in range(12, 24) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=5, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability == True %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: #36393e;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                    {% for hour in range(0, 12) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=5, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability == True %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: #36393e;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr name="Friday">
                                    <td class="day">Friday</td>
                                    {% for hour in range(12, 24) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=6, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability == True %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: #36393e;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                    {% for hour in range(0, 12) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=6, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability == True %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: #36393e;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr name="Saturday">
                                    <td class="day">Saturday</td>
                                    {% for hour in range(12, 24) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=7, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability == True %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: #36393e;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                    {% for hour in range(0, 12) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=7, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability == True %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: #36393e;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="legend-container">
                <p class="members" style="color: white; margin-right: 10px; margin-left: 10px"> Members: </p>
                {% set colors = ['red', 'cyan', 'green', '#c46a32', 'purple', 'yellow'] %}
                <ul class="members">
                    {% for i, username in enumerate(gamer_names) %}
                        <li style="color: {{colors[i]}};"><div class="gamer" style="color: {{colors[i]}};">{{ str(username)[2:-3] }}</div></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="interaction-container">
                <form method="post">
                    <label for="time">Select a time range:</label>
                    <select id="start-time" name="start-time">
                        <option value="0">12:00 AM</option>
                        <option value="1">1:00 AM</option>
                        <option value="2">2:00 AM</option>
                        <option value="3">3:00 AM</option>
                        <option value="4">4:00 AM</option>
                        <option value="5">5:00 AM</option>
                        <option value="6">6:00 AM</option>
                        <option value="7">7:00 AM</option>
                        <option value="8">8:00 AM</option>
                        <option value="9">9:00 AM</option>
                        <option value="10">10:00 AM</option>
                        <option value="11">11:00 AM</option>
                        <option value="12">12:00 PM</option>
                        <option value="13">1:00 PM</option>
                        <option value="14">2:00 PM</option>
                        <option value="15">3:00 PM</option>
                        <option value="16">4:00 PM</option>
                        <option value="17">5:00 PM</option>
                        <option value="18">6:00 PM</option>
                        <option value="19">7:00 PM</option>
                        <option value="20">8:00 PM</option>
                        <option value="21">9:00 PM</option>
                        <option value="22">10:00 PM</option>
                        <option value="23">11:00 PM</option>
                        <option value="24">12:00 AM</option>
                    </select>
                    <select id="stop-time" name="stop-time">
                        <option value="0">12:00 AM</option>
                        <option value="1">1:00 AM</option>
                        <option value="2">2:00 AM</option>
                        <option value="3">3:00 AM</option>
                        <option value="4">4:00 AM</option>
                        <option value="5">5:00 AM</option>
                        <option value="6">6:00 AM</option>
                        <option value="7">7:00 AM</option>
                        <option value="8">8:00 AM</option>
                        <option value="9">9:00 AM</option>
                        <option value="10">10:00 AM</option>
                        <option value="11">11:00 AM</option>
                        <option value="12">12:00 PM</option>
                        <option value="13">1:00 PM</option>
                        <option value="14">2:00 PM</option>
                        <option value="15">3:00 PM</option>
                        <option value="16">4:00 PM</option>
                        <option value="17">5:00 PM</option>
                        <option value="18">6:00 PM</option>
                        <option value="19">7:00 PM</option>
                        <option value="20">8:00 PM</option>
                        <option value="21">9:00 PM</option>
                        <option value="22">10:00 PM</option>
                        <option value="23">11:00 PM</option>
                        <option value="24">12:00 AM</option>
                    </select>
                    <select id="day" name="day">
                        <option value="1">Sunday</option>
                        <option value="2">Monday</option>
                        <option value="3">Tuesday</option>
                        <option value="4">Wednesday</option>
                        <option value="5">Thursday</option>
                        <option value="6">Friday</option>
                        <option value="7">Saturday</option>
                    </select>              
                    <input type="submit" name="add-availability" value="Add Availability">
                    <input type="submit" name="remove-availability" value="Remove Availability">
                </form>
            </div>        
        </div>
        
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript"></script>

        <script>
            const tableContainer = document.querySelector('.schedule-table');
            tableContainer.addEventListener('wheel', (event) => {
              event.preventDefault();
              tableContainer.scrollLeft += event.deltaY;
            });            
        </script>
        <script>
            function copyEvent(id) {
                var str = document.getElementById(id);
                window.getSelection().selectAllChildren(str);
                document.execCommand("Copy")
            }
        </script>
    </body>
</html>