<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Kronos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/calendarstyle.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="w-95 w-md-75 w-lg-60 w-xl-55 mx-auto mb-6 text-center">
                <h2 class="display-18 display-md-16 display-lg-14 mb-0"><span class="text-primary">Kronos</span></h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="schedule-table">
                        <table class="table bg-white">
                            <thead name="table-columns">
                                <tr name="column-names">
                                    <th>Availability</th>
                                    <th>12 pm</th>
                                    <th>1 pm</th>
                                    <th>2 pm</th>
                                    <th>3 pm</th>
                                    <th>4 pm</th>
                                    <th>5 pm</th>
                                    <th>6 pm</th>
                                    <th>7 pm</th>
                                    <th>8 pm</th>
                                    <th>9 pm</th>
                                    <th>10 pm</th>
                                    <th>11 pm</th>
                                    <th>12 am</th>
                                    <th>1 am</th>
                                    <th>2 am</th>
                                    <th>3 am</th>
                                    <th>4 am</th>
                                    <th>5 am</th>
                                    <th>6 am</th>
                                    <th>7 am</th>
                                    <th>8 am</th>
                                    <th>9 am</th>
                                    <th>10 am</th>
                                    <th class="last">11 am</th>
                                </tr>
                            </thead>
                            <tbody name="table-rows">
                                {% set colors = ['red', 'blue', 'green', 'orange', 'purple', 'yellow'] %}
                                <tr name="Sunday">
                                    <td class="day">Sunday</td>
                                    {% for hour in range(12, 24) %}
                                      <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                          {% with gamer_id=gamer_id, day_of_week=1, hour_of_day=hour %}
                                            {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                            {% if availability %}
                                              <div class="available" style="background-color: {{ colors[i] }};"></div>
                                            {% else %}
                                              <div class="available" style="background-color: white;"></div>
                                            {% endif %}
                                          {% endwith %}
                                        {% endfor %}
                                      </td>
                                    {% endfor %}
                                    {% for hour in range(0, 12) %}
                                      <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                          {% with gamer_id=gamer_id, day_of_week=1, hour_of_day=hour %}
                                            {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                            {% if availability %}
                                              <div class="available" style="background-color: {{ colors[i] }};"></div>
                                            {% else %}
                                              <div class="available" style="background-color: white;"></div>
                                            {% endif %}
                                          {% endwith %}
                                        {% endfor %}
                                      </td>
                                    {% endfor %}
                                  </tr>
                                  
                                <tr name="Monday">
                                    <td class="day">Monday</td>
                                    {% for hour in range(12, 24) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=2, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: white;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </td>
                                    {% endfor %}
                                    {% for hour in range(0, 12) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=2, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: white;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr name="Tuesday">
                                    <td class="day">Tuesday</td>
                                    {% for hour in range(12, 24) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=3, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: white;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                    {% for hour in range(0, 12) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=3, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: white;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr name="Wednesday">
                                    <td class="day">Wednesday</td>
                                    {% for hour in range(12, 24) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=4, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: white;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                    {% for hour in range(0, 12) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=4, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: white;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr name="Thursday">
                                    <td class="day">Thursday</td>
                                    {% for hour in range(12, 24) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=5, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: white;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                    {% for hour in range(0, 12) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=5, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: white;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr name="Friday">
                                    <td class="day">Friday</td>
                                    {% for hour in range(12, 24) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=6, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: white;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                    {% for hour in range(0, 12) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=6, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: white;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr name="Saturday">
                                    <td class="day">Saturday</td>
                                    {% for hour in range(12, 24) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=7, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: white;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                    {% for hour in range(0, 12) %}
                                        <td class="active">
                                        {% for i, gamer_id in enumerate(gamer_ids) %}
                                            {% with gamer_id=gamer_id, day_of_week=7, hour_of_day=hour %}
                                                {% set availability = availabilities[gamer_id][day_of_week][hour] %}
                                                {% if availability %}
                                                    <div class="available" style="background-color: {{ colors[i] }};"></div>
                                                {% else %}
                                                    <div class="available" style="background-color: white;"></div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="legend">
            {% set colors = ['red', 'blue', 'green', 'orange', 'purple', 'yellow'] %}
            <ul class="members">
                {% for i, username in enumerate(gamer_names) %}
                    <li style="color: {{colors[i]}};"><div class="gamer" style="color: {{colors[i]}};">{{ str(username)[2:-3] }}</div></li>
                {% endfor %}
            </ul>
        </div>        

        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript"></script>
    </body>
</html>