<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Chronos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div class="container">
            <div class="w-95 w-md-75 w-lg-60 w-xl-55 mx-auto mb-6 text-center">
                <h2 class="display-18 display-md-16 display-lg-14 mb-0"><span class="text-primary">Chronos</span></h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="schedule-table">
                        <table class="table bg-white">
                            <thead name="table-columns">
                                <tr>
                                    <th>Availability</th>
                                    <th>1 am</th>
                                    <th>2 am</th>
                                    <th>3 am</th>
                                    <th>4 am</th>
                                    <th>5 am</th>
                                    <th>6 am</th>
                                    <th>7 am</th>
                                    <th>8 am</th>
                                    <th>9 am</th>
                                    <th>10 am</th>
                                    <th>11 am</th>
                                    <th>12 pm</th>
                                    <th>1 pm</th>
                                    <th>2 pm</th>
                                    <th>3 pm</th>
                                    <th>4 pm</th>
                                    <th>5 pm</th>
                                    <th>6 pm</th>
                                    <th>7 pm</th>
                                    <th>8 pm</th>
                                    <th>9 pm</th>
                                    <th>10 pm</th>
                                    <th>11 pm</th>
                                    <th class="last">12 am</th>
                                </tr>
                            </thead>
                            <tbody name="table-rows">
                                <tr name="Sunday">
                                    <td class="day">Sunday</td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                </tr>
                                <tr name="Monday">
                                        <td class="day">Monday</td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                </tr>
                                <tr name="Tuesday">
                                        <td class="day">Tuesday</td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                </tr>
                                <tr name="Wednesday">
                                        <td class="day">Wednesday</td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                </tr>
                                <tr name="Thursday">
                                        <td class="day">Thursday</td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                </tr>
                                <tr name="Friday">
                                        <td class="day">Friday</td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                </tr>
                                <tr name="Saturday">
                                        <td class="day">Saturday</td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                        <td class="active">

                                        </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript"></script>
    </body>
</html>